<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Sample Application</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>

<script src="/js/dropzone.js"></script>
<link rel="stylesheet" href="/css/dropzone.css">
    
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">


<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
    
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/geoviz.js"></script>

<script type="text/javascript" src="/js/jquery-impromptu.min.js"></script>
<link rel="stylesheet" href="/css/jquery-impromptu.min.css">
<script type="text/javascript" src="https://raw.githubusercontent.com/Krinkle/jquery-json/master/src/jquery.json.js"></script>
    
<style>
#dropstyle {
    width: 99%;
    height: 100px; 
    background: LightGray;
}    
</style>
    
</head>
<body style="padding-top: 70px">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#home" class="navbar-brand" data-toggle="tab" >Sample Application</a>
        </div>    
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav" id="shapefilelist">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Available Shapefiles<b class="caret"></b></a>
              <ul class="dropdown-menu" data-bind="foreach: shapefiles">
                <li><a data-bind="text: $data, click: $parent.drawshapefile"></a></li>
              </ul>
            </li>
              
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Upload Data<b class="caret"></b></a>
              <ul class="dropdown-menu" data-bind="">
                <li><a href="#upload" data-bind="" data-toggle="tab">Upload Shapefile</a></li>
                <li><a href="#uploadpmd" data-bin="" data-toggle="tab">Upload PMD</a></li>
              </ul>
            </li>
            
            <!-- Intentionally hard coded as I only want to expose some functionality -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Analytics<b class="caret"></b></a>
              <ul class="dropdown-menu" data-bind="">
                <li><a href="#esda" data-bind="" data-toggle="tab">ESDA: Map Classification</a></li>
                <li><a href="#spatialauto" data-bind="" data-toggle="tab">ESDA: Spatial Association</a></li>
                <li><a href="#spatialregion" data-bind="" data-toggle="tab">Spatial Regionalization</a></li>
              </ul>
            </li>
              
                        
            <li><a href="#pmdhistory" data-bind="" data-toggle="tab">History (PMD)</a></li>


              
            </ul>

        </div><!--/.nav-collapse -->
            
     
      </div>
    </div>

    <div class="container">
      <div class="row">
          <!-- MAP -->
          <div class="col-sm-9 col-md-9" id="map"></div>
    
          <!-- Right Column -->
          <div class="content col-sm-3 col-md-3">
            <div id="my-tab-content" class="tab-content">

              <!--Upload -->
              <div class="tab-pane active" id='upload'>
                <div id="dropzone" data-bind="dropUpload: files">
                    <legend>Drop Files to Upload</legend>
                    <ul class="highlight" id="dropstyle" data-bind="foreach: files" type="file">
                        <li data-bind="text: name"></li>
                    </ul>
                </div>
                  
                <div>
                    <button class="btn-group btn-group-lg col-sm-6" data-bind="click: onUpload"><span class="glyphicon glyphicon-ok"></span>  Upload</button>
                    <button class="btn-group btn-group-lg col-sm-6" data-bind="click: onReset"><span class="glyphicon glyphicon-remove"></span> Reset</button>
                </div>              
              </div>

              <!--Upload PMD -->
              <div class="tab-pane" id='uploadpmd'>
                  <div class="row">
                    <legend>Drop PMD to Upload</legend>
                    <form action="/file-upload" class="dropzone" id="my-awesome-dropzone"></form>
                  </div>
                  
                  <div class="row">
                      <legend>Available PMDs</legend>
                        <select id="availpmd" name="availablepmd" class="form-control" data-bind="options:availablepmd,
                                                                          optionsCaption:'Select a PMD...',
                                                                          value:currentpmd,
                                                                          valueAllowUnset:true">
                        </select>
                  </div>
                  
                  
                  <div class="row">
                    <legend>Current PMD</legend>
                    <form>
                        <div class="form-group">
                            <pre class="col-md-12" data-bind="text: ko.toJSON(renderedpmd, null, 2)"></pre>  
                        </div>
                        <div class="form-group">
                        <button class="btn-group btn-group-lg col-sm-6" data-bind="click: onExecute"><span class="glyphicon glyphicon-ok"></span>  Execute</button>
                        </div>
                    </form>
                </div> 
                    </div>
                
              <!--Spatial Association -->
              <div class="tab-pane" id='spatialauto'>
                Spatial autocorrelation form goes here
              </div>  
                  
              <!--ESDA -->
              <div class="tab-pane" id='esda'>
                  <form class="form-horizontal" id="esda-form">
                    <fieldset>
                    <!-- Form Name -->
                    <legend>Map Classification</legend>
                    <!-- Select Classifier -->
                    <div class="form-group">
                      <div class="col-sm-10">
                        <select id="classifier" name="classifier" class="form-control" data-bind="options:classifiers,
                                                                                                  optionsCaption:'Select a classifier...',
                                                                                                  value:selectedClassifier,
                                                                                                  valueAllowUnset:true">
                        </select>
                      </div>
                      <div class= "btn-group btn-group-sm col-sm-2" data-bind="click: showDocumentation">
                        <button><span class="glyphicon glyphicon-book"></span></button>
                      </div>
                    </div>  
                    <!-- Select Field -->
                    <div class="form-group">
                      <div class="col-sm-10">
                        <select id="fields" name="y" class="form-control" data-bind="options:shapefileFields,
                                                                                          optionsCaption: 'Select a field...',
                                                                                          value:selectedField,
                                                                                          valueAllowUndet:true">
                        </select>
                      </div>
                      <div class= "btn-group btn-group-sm col-sm-2" data-bind="click: showField">
                        <button><span class="glyphicon glyphicon-info-sign"></span></button>
                      </div>
                    </div>
                    <!-- Dynamic -->
                    <div class="form-group" id="dynamickwargs">
                    </div>   

                    <!-- Submit-->
                    <div class="form-group">
                      <div class="btn-group btn-group-lg col-sm-12" data-bind="click: onSubmit">
                        <button><span class="glyphicon glyphicon-ok"></span>      Submit</button>
                      </div>
                    </div>
                    </fieldset>
                  </form>
              </div> 
                
              <!-- Spatial Regionalization -->
              <div class="tab-pane" id='spatialregion'>
                Spatial regionalization form goes here
              </div> 
                
              <!-- Spatial Regionalization -->
              <div class="tab-pane" id='pmdhistory'>
                A running text field that outputs the pmd history for each item as a selectable 'row'.  These can then be 'checked' and PMD packaged.
              </div>  
                
                
              <!-- End Tabs -->
           </div>
          </div>
        </div>
      </div>
          
   
      <!--End Right Column -->

    <script type="text/javascript">
        
        function noopHandler(evt) {
            evt.preventDefault();
            return false;
        }
        
        //Model View of available ESDA classifiers
        function ESDAViewModel(){
            var self = this;
            self.ESDAbaseURI = 'http://localhost:5000/api/esda/mapclassify/'
            
            //Store the current classifier
            self.classifiers = ko.observableArray();
            self.selectedClassifier = ko.observable();
            
            //Store field listing, selected field, and a vector
            self.currentFieldVector = ko.observable() //The currently selected field as a vector.  Only populated if the vector is viewed.
            self.shapefileFields = ko.observableArray([])
            self.selectedField = ko.observable()
            
            //Store the kwargs
            self.kwargarray = ko.observableArray([]);
            
            //Helper to make the ajax get call - an this moved to a higher level?
            self.ajax = function(uri, method, data) {
                var request = {
                    url: uri,
                    type: method,
                    contentType: "application/json",
                    accepts: "application/json",
                    cache: false,
                    dataType: 'json',
                    data: JSON.stringify(data),
                    error: function(jqXHR) {
                        console.log("ajax error " + jqXHR.status);
                    }
                };
                return $.ajax(request);
            }
            //Get a JSON list of the selected classifiers
            self.ajax(self.ESDAbaseURI, 'GET').done(function(response){
                var methods = response.data.links;
                var nmethods = methods.length;
                for (var i = 0; i < nmethods; i++){
                    var method = methods[i].id
                    if ( /[A-Z]/.test(method[0])){
                        self.classifiers.push(methods[i].id)
                    }
                }
                self.classifiers.sort()
            });
            
            self.selectedClassifier.subscribe(function(){
                //Get the method / class arguments
                var classifierMethodURI = 'http://localhost:5000/api/esda/mapclassify/' + self.selectedClassifier() + '/'

                //Make the ajax call
                self.ajax(classifierMethodURI, 'GET').done(function(response){
                    var kwargs = response.data.post_template.kwargs;
                    
                    //Remove any old entries in the div
                    $("#dynamickwargs").empty();
                    self.kwargarray.removeAll()
                    
                    //Step over the kwargs and add inputs
                    for (var k in kwargs){
                        self.kwargarray.push(k)
                        var input = '<label class="col-md-3 control-label" for="k">' + k + '</label><div class="col-md-3"><input id="' + k + '" name="' + k + '" type="text" value="' + kwargs[k] + '" class="form-control input-md"></div>'
                        $(input).appendTo("#dynamickwargs")
                    }
                });
            });
            
            self.showDocumentation = function(name){
                var documentationURI = 'http://localhost:5000/api/esda/mapclassify/' + self.selectedClassifier() + '/docs/'
                self.ajax(documentationURI, 'GET').done(function(response){
                    var docs = response.data.docstring;
                    $.prompt(JSON.stringify(docs, null, 4));
                });
            }
            
            self.getFields = function(shpname) {
                self.selectedShapefile = shpname
                //Populate a dropdown with available fields in the shapefile
                self.shapefileinfoURI = 'http://localhost:5000/listdata/' + shpname + '/'
                self.shapefileFields.removeAll()
                self.ajax(self.shapefileinfoURI, 'GET').done(function(response) {
                    var fields = response.data.fields;
                    var fieldlength = fields.length;
                    for (var i=0; i < fieldlength - 1; i++){
                        self.shapefileFields.push(fields[i])
                    }
                    //Alphabetize the fields
                    self.shapefileFields.sort()
                });  
            }
            
            self.selectedField.subscribe(function(){
                var shapefileFieldURI = 'http://localhost:5000/listdata/' + self.selectedShapefile + '/' + self.selectedField() + '/' 
                self.ajax(shapefileFieldURI, 'GET').done(function(response){
                    self.currentFieldVector = response.data[self.selectedField()]
                });    
            });
            
            self.showField = function(){
                $.prompt(JSON.stringify(self.currentFieldVector, null, 2))    
            }
            
            self.onSubmit = function(){
                //Parse the kwargs using the observable array of keys and pack into a JSON object.
                var kwargstring = {}
                for (var i=0; i < self.kwargarray().length;i++){
                    var k = self.kwargarray()[i];
                    var value = $("#" + k ).val();
                    kwargstring[k] = value;
                }
                
                //Parse the field into an vector
                argarr = self.currentFieldVector.toString()

                //Pack the POST request
                var data = {}
                data['args'] = []
                data['args'].push(self.currentFieldVector)
                data['kwargs'] = kwargstring;
                
                //console.log($.toJSON(data))
                
                //Make the post request
                var postURI = 'http://localhost:5000/api/esda/mapclassify/' + self.selectedClassifier() +'/'
                //console.log(data);
                self.ajax(postURI, 'POST', data).done(function(response){
                    
                    var rdata = response.data
                    console.log(rdata)
                });          
            }
            
        }
        
        //Create an instance of the above class to be used below - is this how I should do this?
        var esdaHookup =  new ESDAViewModel()
        
        //Model View of available shapefiles
        function ShapefileViewModel() {  
            var self = this;
            
            self.shapefilelistURI = 'http://localhost:5000/listdata/';

            //Array to store shapefilename
            self.shapefiles = ko.observableArray();

            //Helper to make the ajax get call - an this moved to a higher level?
            self.ajax = function(uri, method, data) {
                var request = {
                    url: uri,
                    type: method,
                    contentType: "application/json",
                    accepts: "application/json",
                    cache: false,
                    dataType: 'json',
                    data: JSON.stringify(data),
                    error: function(jqXHR) {
                        console.log("ajax error " + jqXHR.status);
                    }
                };
                return $.ajax(request);
            }
        
            self.ajax(self.shapefilelistURI, 'GET').done(function(response) {
                for (var key in response.data.shapefiles){
                    self.shapefiles.push(key);
                }
            }); 
            
            self.drawshapefile = function(shpname){
                //make API call
                var shapefileuri = 'http://localhost:5000/listdata/' + shpname + '/thegeom/';
                var map = renderMap(shapefileuri);
                esdaHookup.getFields(shpname)
            }
        }
        
 
        ko.bindingHandlers.dropUpload = {
            init: function (element, valueAccessor, allBindings, viewModel, bindingContext) {
                element.addEventListener('dragenter', noopHandler, false);
                element.addEventListener('dragover', noopHandler, false);

                element.addEventListener('drop', function (evt) {
                    evt.preventDefault();

                    var value = valueAccessor();
                    for (var i = 0; i < evt.dataTransfer.files.length; i++) {
                        value.push(evt.dataTransfer.files[i]);
                    }
                }, false);
            }
        };

        var UploadViewModel = function () {
            var self = this;

            self.files = ko.observableArray();

            self.ajax = function(uri, method, data) {
                var request = {
                    url: uri,
                    type: method,
                    processData: false,
                    contentType: false,
                    data: data,
                    error: function(jqXHR) {
                        console.log("ajax error " + jqXHR.status);
                    }
                };
                return $.ajax(request);
            }
            
            self.onUpload = function () {
                var formData = new FormData();
                var i = 0;
                ko.utils.arrayForEach(self.files(), function (file) {
                    formData.append("files_" + i, file);
                    i = i + 1;
                });
                console.log(formData);
                //AJAX call to get the data posted
                self.ajax("http://localhost:5000/upload/", "POST", formData).done(function(response) {
                    self.files.removeAll();
                });             
            }

            self.onReset = function () {
                self.files.removeAll();
            }
        }

        ko.bindingHandlers.pmddropUpload = {
            init: function (element, valueAccessor, allBindings, viewModel, bindingContext) {
                element.addEventListener('dragenter', noopHandler, false);
                element.addEventListener('dragover', noopHandler, false);

                element.addEventListener('drop', function (evt) {
                    evt.preventDefault();

                    var value = valueAccessor();
                    for (var i = 0; i < evt.dataTransfer.files.length; i++) {
                        value.push(evt.dataTransfer.files[i]);
                    }
                }, false);
            }
        };

        var UploadPMDViewModel = function () {
            var self = this;
            
            self.availablepmd = ko.observableArray();
            self.currentpmd = ko.observable();
            self.renderedpmd = ko.observable("No PMD Selected...");
            
                        //Helper to make the ajax get call - an this moved to a higher level?
            self.ajax = function(uri, method, data) {
                var request = {
                    url: uri,
                    type: method,
                    contentType: "application/json",
                    accepts: "application/json",
                    cache: false,
                    dataType: 'json',
                    data: JSON.stringify(data),
                    error: function(jqXHR) {
                        console.log("ajax error " + jqXHR.status);
                    }
                };
                return $.ajax(request);
            }
        
            //List the available PMD when the page loads
            self.ajax("http://localhost:5000/listdata/", 'GET').done(function(response) {
                for (var key in response.data.pmd){
                    self.availablepmd.push(key);
                }
            }); 
            
            self.currentpmd.subscribe(function(){
                var pmdURI = 'http://localhost:5000/listdata/' + self.currentpmd() + '/' 
                self.ajax(pmdURI, 'GET').done(function(response){
                    self.renderedpmd(response.data);
                }); 
            });
            
            self.onExecute = function(){
                alert("This will execute the pmd in sequence.");
                //GET request to execute the current PMD
            }
        }
        
        var uploadpmd = new UploadPMDViewModel()
        
        Dropzone.options.myAwesomeDropzone = { 
            init: function () {
                this.on("complete", function (file) {
                  if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                    uploadpmd.availablepmd.push(file.name)
                    this.removeFile(file);
                    
                  }
                });
            },
            
          url: "http://localhost:5000/upload/",
          paramName: "file", // The name that will be used to transfer the file
          maxFilesize: 20, // MB
          maxFiles: 1, 
          acceptedFiles: ".amd, .wmd, .pmd",
          createImageThumbnails: false,
            accept: function(file, done) {
            if (file.name == "justinbieber.jpg") {
              done("Naha, you don't.");
            }
            else { done(); }
          }
        };
        




        
        
        
        
//Knockout bindings - I have no idea if this is the canonical approach - I hacked it together
ko.applyBindings(new ShapefileViewModel(), document.getElementById("shapefilelist"));
ko.applyBindings(esdaHookup, document.getElementById("esda-form"));
ko.applyBindings(new UploadViewModel(), document.getElementById("upload"));
ko.applyBindings(uploadpmd, document.getElementById("uploadpmd"));
</script>

<script>
    //D3 rendering function  
    
    //Width and height
    var width = 750;
    var height = 400;

    //Create SVG element
    var svg = d3.select("#map")
                .append("svg")
                .attr("width", width)
                .attr("height", height);
    
    function renderMap(geojsonuri){
        // Clear the SVG incase another map previously existed
        svg.selectAll("*").remove();
        
        // Create a unit projection.
        var projection = d3.geo.mercator()
            .scale(1)
            .translate([0, 0]);
        
        // Create a path generator.
        var path = d3.geo.path()
            .projection(projection);

        //Load in GeoJSON data
        d3.json(geojsonuri, function(response) {
            var geojson = response.data.geojson
            
        //Recompute the scaling and translation based on the input geojson
        var b = path.bounds(geojson),
            s = .95 / Math.max((b[1][0] - b[0][0]) / width, (b[1][1] - b[0][1]) / height),
            t = [(width - s * (b[1][0] + b[0][0])) / 2, (height - s * (b[1][1] + b[0][1])) / 2];

        // Update the projection to use computed scale & translate.
        projection
            .scale(s)
            .translate(t);
            
        //Bind data and create one path per GeoJSON feature
        svg.selectAll("path")
           .data(geojson.features)
           .enter()
           .append("path")
           .attr("d", path)
           .style("fill", "steelblue");

        });
    }
</script>
    
</body>
</html>
