<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Sample Application</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>

<script src="/js/dropzone.js"></script>
<link rel="stylesheet" href="/css/dropzone.css">
    
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
    
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="http://d3js.org/colorbrewer.v1.min.js"></script>
    
<script type="text/javascript" src="/js/jquery-impromptu.min.js"></script>
<link rel="stylesheet" href="/css/jquery-impromptu.min.css">
    
<style>
#dropstyle {
    width: 99%;
    height: 50px; 
    background: DarkGray;
    border-style: dashed;
}   
    
path:hover{
    fill-opacity: 0.5;
}
body{
    background-color: white;
}

div.tooltip {         
  text-align: left;           
  width: 300px;                  
  height: 130px;                 
  padding: 5px;
  color:white;             
  font: 18px sans-serif;     
  background: black;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}

.q8-9 { fill:rgb(247,251,255); }
.q7-9 { fill:rgb(222,235,247); }
.q6-9 { fill:rgb(198,219,239); }
.q5-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q3-9 { fill:rgb(66,146,198); }
.q2-9 { fill:rgb(33,113,181); }
.q1-9 { fill:rgb(8,81,156); }
.q0-9 { fill:rgb(8,48,107); }
    
</style>
    
</head>
<body style="padding-top: 70px">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#home" class="navbar-brand" data-toggle="tab" >Sample Application</a>
        </div>    
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav" >
            <li class="dropdown" id="shapefilelist">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Available Shapefiles<b class="caret"></b></a>
              <ul class="dropdown-menu" data-bind="foreach: shapefiles">
                <li><a data-bind="text: $data, click: $parent.drawshapefile"></a></li>
              </ul>
            </li>
              
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Upload Data<b class="caret"></b></a>
              <ul class="dropdown-menu" data-bind="">
                <li><a href="#uploadshp" data-bind="" data-toggle="tab">Upload Shapefile</a></li>
                <li><a href="#uploadpmd" data-bin="" data-toggle="tab">Upload / Execute AMD</a></li>
              </ul>
            </li>
            
            <!-- Intentionally hard coded as I only want to expose some functionality -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Analytics<b class="caret"></b></a>
              <ul class="dropdown-menu" data-bind="">
                <li><a href="#esda" data-bind="" data-toggle="tab">ESDA: Map Classification</a></li>
                <li><a href="#spatialauto" data-bind="" data-toggle="tab">ESDA: Spatial Association</a></li>
                <li><a href="#weights" data-bind="" data-toggle="tab">Spatial Weights</a></li>
                <li><a href="#spatialregion" data-bind="" data-toggle="tab">Spatial Regionalization</a></li>
              </ul>
            </li>
              
                        
            <li><a href="#pmdhistory" data-bind="" data-toggle="tab">History (PMD)</a></li>

              
            </ul>

        </div><!--/.nav-collapse -->
            
     
      </div>
    </div>

    <div class="container">
      <div class="row">
          <!-- MAP -->
          <div class="col-sm-9 col-md-9" id="map"></div>
                
          <!-- Right Column -->
          <div class="content col-sm-3 col-md-3">
            <div id="my-tab-content" class="tab-content">

              <!--Upload -->
              <div class="tab-pane active" id='uploadshp'>
                  <div class="row">
                      <legend>Upload Data</legend>
                    <form action="/file-upload" class="dropzone" id="shp-dropzone"></form>
                  </div>             
              </div>
                
                
              <!--Upload PMD -->
              <div class="tab-pane" id='uploadpmd'>
                  <div class="row">
                    <form action="/file-upload" class="dropzone" id="pmd-dropzone"></form>
                  </div>
                  
                  <div class="row">
                      <legend>Available Analytical Meta Data</legend>
                        <select id="availpmd" name="availablepmd" class="form-control" data-bind="options:availablepmd,
                                                                          optionsCaption:'Select a AMD...',
                                                                          value:currentpmd,
                                                                          valueAllowUnset:true">
                        </select>
                  </div>
                  
                  
                  <div class="row">
                    <legend>Current AMD</legend>
                    <form>
                        <div class="form-group">
                            <pre class="col-md-12" data-bind="text: ko.toJSON(renderedpmd, null, 2)"></pre>  
                        </div>
                        <div class="form-group">
                        <button class="btn-group btn-group-lg col-sm-6" data-bind="click: onExecute"><span class="glyphicon glyphicon-ok"></span>  Execute</button>
                        </div>
                    </form>
                  </div> 
                </div>
                
              <!--Spatial Association -->
              <div class="tab-pane" id='spatialauto'>
                <form class="form-horizontal" id="spatauto-form">
                    <fieldset>
                    <!-- Form Name -->
                    <legend>Measures of Spatial Autocorrelation</legend>
                    <!-- Select Classifier -->
                    <div class="form-group">
                      
                      <div class="col-sm-10">
                        <select id="spatauto_metamethod" name="metamethod" class="form-control" data-bind="options:methodfamilies,
                                                                                                  optionsCaption:'Select a method family...',
                                                                                                  value:methodfamily,
                                                                                                  valueAllowUnset:true">
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-10">
                        <select id="spatauto_method" name="method" class="form-control" data-bind="options:methods,
                                                                                                  optionsCaption:'Select a method...',
                                                                                                  value:method,
                                                                                                  valueAllowUnset:true">
                        </select>
                      </div>
                        
                      <div class= "btn-group btn-group-sm col-sm-2" data-bind="click: showDocumentation">
                        <button><span class="glyphicon glyphicon-book"></span></button>
                      </div>
                    </div>  
                        
                    <!-- Select Field -->
                    <!-- ko stopBinding: true -->
                    <div id="shpinfo">
                    <div class="form-group">
                      <div class="col-sm-10">
                        <select id="fields" name="y" class="form-control" data-bind="options:fields,
                                                                                          optionsCaption: 'Select a field...',
                                                                                          value:field,
                                                                                          valueAllowUndet:true">
                        </select>
                      </div>
                      <div class= "btn-group btn-group-sm col-sm-2" data-bind="click: showField">
                        <button><span class="glyphicon glyphicon-info-sign"></span></button>
                      </div>
                    </div>
                      
                    <!-- W Object -->
                    <div class="form-group" id="availablewobjs">
                      <legend>W Object</legend>
                      <div class="col-sm-10">
                        <select id="spatauto_method" name="method" class="form-control" data-bind="options:wobjs,
                                                                      optionsCaption:'Select a W Object...',
                                                                      optionsText: 'type',
                                                                      optionsValue: 'id',
                                                                      value: wobj,
                                                                      valueAllowUnset:true">
                        </select>
                      </div>
                    </div>
                    </div>
                    <!-- /ko -->
                        
                    <!-- Dynamic -->
                    <div class="form-group" id="spatauto_dynamickwargs">
                    </div>   

                    <!-- Submit-->
                    <div class="form-group">
                      <div class="btn-group btn-group-lg col-sm-12" data-bind="click: onSubmit">
                        <button><span class="glyphicon glyphicon-ok"></span>      Submit</button>
                      </div>
                    </div>
                    </fieldset>
                  </form>
              </div> 
                  
                
              <!-- Weights -->
              <div class="tab-pane" id="weights">
                  <!--Intentionally hardcoded to limit the options to either Q or R -->
                  <form class="form-horizontal">
                      <div class="form-group">
                        <select id="wmethod" name="wmethod" class="form-control" data-bind="options:wmethods,
                                                                                                  optionsCaption:'Select a weight type...',
                                                                                                  value:wmethod,
                                                                                                  valueAllowUnset:true">
                        </select>
                      </div>
                
                      <!-- Tag to the shapefile view model
                      <div class=form-group>
                        <legend>Optional Parameters</legend>
                        <select id="idvariable" name="idvariable" class="form-control" data-bind="options:idvariables,
                                                                      optionsCaption:'Select an ID variable',
                                                                      value:idvariable,
                                                                      valueAllowUnset:true">
                        </select>
                      </div>
                      -->
                      <div class="form-group">
                        <button class="btn-group btn-group-lg col-sm-6" data-bind="click: onExecute"><span class="glyphicon glyphicon-ok"></span>  Generate W</button>

                      </div>
                  </form>
              </div>
                
              <!--ESDA -->
              <div class="tab-pane" id='esda'>
                  <form class="form-horizontal" id="esda-form">
                    <fieldset>
                    <!-- Form Name -->
                    <legend>Map Classification</legend>
                    <!-- Select Classifier -->
                    <div class="form-group">
                      <div class="col-sm-10">
                        <select id="classifier" name="classifier" class="form-control" data-bind="options:classifiers,
                                                                                                  optionsCaption:'Select a classifier...',
                                                                                                  value:selectedClassifier,
                                                                                                  valueAllowUnset:true">
                        </select>
                      </div>
                      <div class= "btn-group btn-group-sm col-sm-2" data-bind="click: showDocumentation">
                        <button><span class="glyphicon glyphicon-book"></span></button>
                      </div>
                    </div>  
                    <!-- Select Field -->
                    <!-- ko stopBinding: true -->
                    <div class="form-group" id="shpfields">
                      <div class="col-sm-10">
                        <select id="fields" name="y" class="form-control" data-bind="options:fields,
                                                                                          optionsCaption: 'Select a field...',
                                                                                          value:field,
                                                                                          valueAllowUndet:true">
                        </select>
                      </div>
                      <div class= "btn-group btn-group-sm col-sm-2" data-bind="click: showField">
                        <button><span class="glyphicon glyphicon-info-sign"></span></button>
                      </div>
                    </div>
                    <!-- /ko -->
                    <!-- Dynamic -->
                    <div class="form-group" id="dynamickwargs">
                    </div>   

                    <!-- Submit-->
                    <div class="form-group">
                      <div class="btn-group btn-group-lg col-sm-12" data-bind="click: onSubmit">
                        <button><span class="glyphicon glyphicon-ok"></span>      Submit</button>
                      </div>
                    </div>
                    </fieldset>
                  </form>
              </div> 
                
              <!-- Spatial Regionalization -->
              <div class="tab-pane" id='spatialregion'>
                Spatial regionalization form goes here
              </div> 
                
              <!-- PMD History -->
              <div class="tab-pane" id='pmdhistory'>
                A running text field that outputs the pmd history for each item as a selectable 'row'.  These can then be 'checked' and PMD packaged.
              </div>  
                
                
              <!-- End Tabs -->
           </div>
          </div>
        </div>
        <div class="row" id="wstatus">
        </div>
      </div>
    <!--End Right Column -->

    <script type="text/javascript">
    var d3map = function() {
        var self = this;

        self.width = 750;
        self.height = 600
        self.choro = d3.map();

        //Create SVG element
        self.svg = d3.select("#map")
                    .append("svg:svg")
                    .attr("width", self.width)
                    .attr("height", self.height);


        self.renderMap = function(geojsonuri){
            // Clear the SVG incase another map previously existed
            self.svg.selectAll("*").remove();

            // Create a unit projection.
            var projection = d3.geo.mercator()
                .scale(1)
                .translate([0, 0]);

            // Create a path generator.
            path = d3.geo.path()
                .projection(projection);

            self.quantize = d3.scale.quantize()
                .domain([0, 1])
                .range(d3.range(9).map(function(i) { 
                    return "q" + i + "-9"; 
                }));

            //Load in GeoJSON data
            d3.json(geojsonuri, function(response) {
                self.geojson = response.data.geojson
                //Add a classid attribute to the geojson for visualization
                for (var i=0;i<self.geojson.features.length;i++){
                    self.geojson.features[i].properties.CLASSID = 1
                }
                //console.log(geojson);

            //Recompute the scaling and translation based on the input geojson
            var b = path.bounds(self.geojson),
                s = .95 / Math.max((b[1][0] - b[0][0]) / self.width, (b[1][1] - b[0][1]) / self.height),
                t = [(self.width - s * (b[1][0] + b[0][0])) / 2, (self.height - s * (b[1][1] + b[0][1])) / 2];

            // Update the projection to use computed scale & translate.
            projection
                .scale(s)
                .translate(t);

            //update the quantize to color based on id
            self.quantize.domain([0,self.geojson.features.length])

            //Bind data and create one path per GeoJSON feature
            self.svg.append("g")
                .attr("class", "polys")
            .selectAll("path")
               .data(self.geojson.features)
               .enter().append("path")
                .attr("id", function(d){return d.properties.id})
                .attr("class", function(d) { return self.quantize(d.id); })
                .attr("d", path)
               .on("click", function(d){
                   //console.log(d);
                   $.prompt(JSON.stringify(d.properties, null, 2));
               });
            });
            return true;
        }

        self.onUpdate = function(rdata){
            // Parse the yb vector and update the data on the map.
            //console.log('ONUPDATE')
            var classmin = 9
            var classmax = 0
            for (var i=0;i<rdata.yb.length;i++){
                self.geojson.features[i].properties['CLASSID'] = rdata.yb[i]
                if (rdata.yb[i] < classmin){
                    classmin = rdata.yb[i]
                }
                if (rdata.yb[i] > classmax){
                    classmax = rdata.yb[i]
                }
            }

            var nbins = rdata.bins.length;
            self.quantize.domain([classmin, classmax])
                //.range(colorbrewer.Greens[nbins]);
              .range(d3.range(nbins).map(function(i) { 
                  return "q" + i + "-9"; 
              }));

            //Bind data and create one path per GeoJSON feature
            self.svg.selectAll("path")
               .data(self.geojson.features)
               .attr("class", function(d) { return self.quantize(d.properties['CLASSID']); })
               .attr("d", path); 
    }

}
        
        mapvis = new d3map()
        //Model View of available shapefiles
        function ShapefileViewModel() {  
            var self = this;
            
            self.shapefilelistURI = 'http://localhost:8080/listdata/';

            //Array to store available shapefiles and currently selected shapefile
            self.shapefiles = ko.observableArray();
            self.shapefile = ko.observable();
            
            //Array to store shapefile fields, currently selected shapefile field, and a vector of the field values
            self.fields = ko.observableArray();
            self.field = ko.observable();
            self.currentFieldVector = ko.observableArray()
            
            //Array to store available W objects
            self.wobjs = ko.observableArray()
            self.wobj = ko.observable()
            
            //Helper to make the ajax get call - an this moved to a higher level?
            self.ajax = function(uri, method, data) {
                var request = {
                    url: uri,
                    type: method,
                    contentType: "application/json",
                    accepts: "application/json",
                    cache: false,
                    dataType: 'json',
                    data: JSON.stringify(data),
                    error: function(jqXHR) {
                        console.log("ajax error " + jqXHR.status);
                    }
                };
                return $.ajax(request);
            }
        
            self.updateShapefileList = function() {
                self.shapefiles.removeAll()
                self.ajax(self.shapefilelistURI, 'GET').done(function(response) {
                    for (var key in response.data.shapefiles){
                        self.shapefiles.push(key);
                    }
                }); 
            }
            
            self.updateShapefileList()
            
            //Render the shapefile using D3
            self.drawshapefile = function(shpname){
                //make API call
                var shapefileuri = 'http://localhost:8080/listdata/' + shpname + '/thegeom/';
                var map = mapvis.renderMap(shapefileuri);
                self.shapefile(shpname);
                self.updateWstatus(shpname);
            }
            
            //Check the server to see if the W exists
            self.updateWstatus = function(shpname){
                //Check the cached url to see if W objects exist
                var Wstatus = {"Queen":false,
                              "Rook": false};
                self.ajax("http://localhost:8080/cached/", 'GET').done(function(response){
                    self.wobjs.removeAll()
                    //Parse the cached list to see which match the current shapefile
                    var resp = response.data.cacheditems
                    for (k in resp){
                        if (resp[k].source === self.shapefile()){
                            var type = resp[k].type;
                            Wstatus[type] = true
                            //Add the W object to an observable array
                            self.wobjs.push({name:resp[k].source,
                                            id:resp[k].id,
                                            type:resp[k].type})
                        }
                    }
                    
                    //Parse the Wstatus dict and generate the status info in the html
                    $("#wstatus").empty();                    
                    for (var k in Wstatus){
                        if (Wstatus[k] === true){
                            var input = '<div class="row"><div class="col-md-3 alert alert-success">'+ k + ' adjacency cached server side.</div></div>'
                            } else {
                            var input = '<div class="row"><div class="col-md-3 alert alert-info">'+ k + ' adjacency  does not exist server side.</div></div>'
                            }
                        $(input).appendTo("#wstatus")
                    }
                    
                });
            }
            
            //Get the available fields in the shapefile
            self.shapefile.subscribe(function() {
                shpname = self.shapefile()
                //Populate a dropdown with available fields in the shapefile
                self.shapefileinfoURI = 'http://localhost:8080/listdata/' + shpname + '/'
                self.fields.removeAll()
                self.ajax(self.shapefileinfoURI, 'GET').done(function(response) {
                    var fields = response.data.fields;
                    var fieldlength = fields.length;
                    for (var i=0; i < fieldlength - 1; i++){
                        self.fields.push(fields[i])
                    }
                    //Alphabetize the fields
                    self.fields().sort()
                });  
            });
            
            //When a field is selected, update the field vector to store the data client side
            self.field.subscribe(function() {
                var shapefileFieldURI = 'http://localhost:8080/listdata/' + self.shapefile() + '/' + self.field() + '/' 
                self.ajax(shapefileFieldURI, 'GET').done(function(response){
                    self.currentFieldVector = response.data[self.field()]
                }); 
            });
            
            //On click to show a vector of the current field.
            self.showField = function(){
                $.prompt(JSON.stringify(self.currentFieldVector, null, 2))    
            }
        }

        var shapefileview = new ShapefileViewModel()
        
        //Model View of available ESDA autocorrelation measures
        function SpatAutoViewModel(){
          var self = this;
          var SpatAutoBaseURI = 'http://localhost:8080/api/esda/'
          
          //Store available and current method family
          self.methodfamilies = ko.observableArray()
          self.methodfamily = ko.observable()
          
          //Store available and current method
          self.methods = ko.observableArray()
          self.method = ko.observable()
          
          //Kwarg Array
          self.kwargarray = ko.observableArray()
          
          //Helper to make the ajax get call - an this moved to a higher level?
            self.ajax = function(uri, method, data) {
                var request = {
                    url: uri,
                    type: method,
                    contentType: "application/json",
                    accepts: "application/json",
                    cache: false,
                    dataType: 'json',
                    data: JSON.stringify(data),
                    error: function(jqXHR) {
                        console.log("ajax error " + jqXHR.status);
                    }
                };
                return $.ajax(request);
            }
            
            //Get JSON list of the available method families
            self.ajax(SpatAutoBaseURI, 'GET').done(function(response){
                var links = response.data.links;
                for (var i =0; i < links.length;i++){
                    if (links[i].id !== 'mapclassify'){
                        self.methodfamilies.push(links[i].id)
                    }
                }
            });

            //Sub method
            self.methodfamily.subscribe(function(){
                var methodsURI = SpatAutoBaseURI + self.methodfamily() + '/'
                self.ajax(methodsURI, 'GET').done(function(response){
                    var links = response.data.links;
                    for (var i=0;i < links.length;i++){
                        self.methods.push(links[i].id)
                    }   
                });
            });
            
            //Kwargs
            self.method.subscribe(function(){
                var methodURI = SpatAutoBaseURI + self.methodfamily() + '/' + self.method() + '/'
                //Make the ajax call
                self.ajax(methodURI, 'GET').done(function(response){
                    var kwargs = response.data.post_template.kwargs;
                    
                    //Remove any old entries in the div
                    $("#spatauto_dynamickwargs").empty();
                    self.kwargarray.removeAll()
                    
                    //Step over the kwargs and add inputs
                    for (var k in kwargs){
                        self.kwargarray.push(k)
                        var input = '<div class="row><label class="col-md-6 control-label" for="k">' + k + '</label><div class="col-md-3"><input id="' + k + '" name="' + k + '" type="text" value="' + kwargs[k] + '" class="form-control input-md"></div></div>'
                        $(input).appendTo("#spatauto_dynamickwargs")
                    }
                });
            });
            
            //POST the call to the method / class
            self.onSubmit = function(){
                //Parse the kwargs using the observable array of keys and pack into a JSON object.
                var kwargstring = {}
                for (var i=0; i < self.kwargarray().length;i++){
                    var k = self.kwargarray()[i];
                    var value = $("#" + k ).val();
                    kwargstring[k] = value;
                }
                
                //Parse the field into an vector
                var argarr = shapefileview.currentFieldVector;
                //Get the W Object ID
                var wid = shapefileview.wobj();
                
                //Pack the POST request
                var data = {}
                data['args'] = []
                data['args'].push(argarr)
                data['args'].push('cached_' + wid)
                data['kwargs'] = kwargstring;
                
                
                //Make the post request
                var postURI = SpatAutoBaseURI + self.methodfamily() + '/' + self.method() +'/'
                self.ajax(postURI, 'POST', data).done(function(response){    
                    var rdata = response.data
                });          
            } 
            
            //Show the documentation for the method / class
            self.showDocumentation = function(name){
                var documentationURI = SpatAutoBaseURI + self.methodfamily() + '/' + self.method() + '/docs/'
                self.ajax(documentationURI, 'GET').done(function(response){
                    var docs = response.data.docstring;
                    $.prompt(JSON.stringify(docs, null, 2));
                });
            }
        }
        
        //Model View of available ESDA classifiers
        function ESDAViewModel(){
            var self = this;
            self.ESDAbaseURI = 'http://localhost:8080/api/esda/mapclassify/'
            
            //Store the current classifier
            self.classifiers = ko.observableArray();
            self.selectedClassifier = ko.observable();
            
            //Store the kwargs
            self.kwargarray = ko.observableArray([]);
            
            //Helper to make the ajax get call - an this moved to a higher level?
            self.ajax = function(uri, method, data) {
                var request = {
                    url: uri,
                    type: method,
                    contentType: "application/json",
                    accepts: "application/json",
                    cache: false,
                    dataType: 'json',
                    data: JSON.stringify(data),
                    error: function(jqXHR) {
                        console.log("ajax error " + jqXHR.status);
                    }
                };
                return $.ajax(request);
            }
            //Get a JSON list of the selected classifiers
            self.ajax(self.ESDAbaseURI, 'GET').done(function(response){
                var methods = response.data.links;
                var nmethods = methods.length;
                for (var i = 0; i < nmethods; i++){
                    var method = methods[i].id
                    if ( /[A-Z]/.test(method[0])){
                        self.classifiers.push(methods[i].id)
                    }
                }
                self.classifiers.sort()
            });
            
            //Subscribe to the classifier drop down - when it changes, update the kwargs inputs
            self.selectedClassifier.subscribe(function(){
                //Get the method / class arguments
                var classifierMethodURI = 'http://localhost:8080/api/esda/mapclassify/' + self.selectedClassifier() + '/'

                //Make the ajax call
                self.ajax(classifierMethodURI, 'GET').done(function(response){
                    var kwargs = response.data.post_template.kwargs;
                    
                    //Remove any old entries in the div
                    $("#dynamickwargs").empty();
                    self.kwargarray.removeAll()
                    
                    //Step over the kwargs and add inputs
                    for (var k in kwargs){
                        self.kwargarray.push(k)
                        var input = '<label class="col-md-3 control-label" for="k">' + k + '</label><div class="col-md-3"><input id="' + k + '" name="' + k + '" type="text" value="' + kwargs[k] + '" class="form-control input-md"></div>'
                        $(input).appendTo("#dynamickwargs")
                    }
                });
            });
            
            //Show the documentation for the method / class
            self.showDocumentation = function(name){
                var documentationURI = 'http://localhost:8080/api/esda/mapclassify/' + self.selectedClassifier() + '/docs/'
                self.ajax(documentationURI, 'GET').done(function(response){
                    var docs = response.data.docstring;
                    $.prompt(JSON.stringify(docs, null, 4));
                });
            }
               
            //POST the call to the method / class
            self.onSubmit = function(){
                //Parse the kwargs using the observable array of keys and pack into a JSON object.
                var kwargstring = {}
                for (var i=0; i < self.kwargarray().length;i++){
                    var k = self.kwargarray()[i];
                    var value = $("#" + k ).val();
                    kwargstring[k] = value;
                }
                
                //Parse the field into an vector
                var argarr = shapefileview.currentFieldVector;

                //Pack the POST request
                var data = {}
                data['args'] = []
                data['args'].push(argarr)
                data['kwargs'] = kwargstring;
                
                //console.log($.toJSON(data))
                
                //Make the post request
                var postURI = 'http://localhost:8080/api/esda/mapclassify/' + self.selectedClassifier() +'/'
                self.ajax(postURI, 'POST', data).done(function(response){
                    var rdata = response.data
                    mapvis.onUpdate(rdata);

                });          
            }   
        }
        
        //Create an instance of the above class to be used below - is this how I should do this?
        var esdaHookup =  new ESDAViewModel()
        
        var WeightsViewModel = function (){
            var self = this;
            
            self.wmethods = ko.observableArray(['Queen', 'Rook'])
            self.wmethod = ko.observable() 
            
            self.ajax = function(uri, method, data) {
                var request = {
                    url: uri,
                    type: method,
                    contentType: "application/json",
                    accepts: "application/json",
                    cache: false,
                    dataType: 'json',
                    data: JSON.stringify(data),
                    error: function(jqXHR) {
                        console.log("ajax error " + jqXHR.status);
                    }
                };
                return $.ajax(request);
            }
            
            self.wmethod_lookup = {'Queen': 'queen_from_shapefile',
                                  'Rook': 'rook_from_shapefile'}
        
            self.onExecute = function(){
                var posturl = 'http://localhost:8080/api/weights/' + self.wmethod_lookup[self.wmethod()] + '/'
                var inputshp = shapefileview.shapefile() + '.shp'
                
                var data = {};
                var args = [inputshp];
                var kwargs = {};
                data['args'] = args;
                data['kwargs'] = kwargs;

                //POST the formData
                self.ajax(posturl, 'POST', data).done(function(response) {
                    shapefileview.updateWstatus(shapefileview.shapefile());
                });   
            }
        }
        var wvm = new WeightsViewModel();
        
        var UploadPMDViewModel = function () {
            var self = this;
            
            self.availablepmd = ko.observableArray();
            self.currentpmd = ko.observable();
            self.renderedpmd = ko.observable("No AMD Selected...");
            
                        //Helper to make the ajax get call - an this moved to a higher level?
            self.ajax = function(uri, method, data) {
                var request = {
                    url: uri,
                    type: method,
                    contentType: "application/json",
                    accepts: "application/json",
                    cache: false,
                    dataType: 'json',
                    data: JSON.stringify(data),
                    error: function(jqXHR) {
                        console.log("ajax error " + jqXHR.status);
                    }
                };
                return $.ajax(request);
            }
        
            //List the available PMD when the page loads
            self.ajax("http://localhost:8080/listdata/", 'GET').done(function(response) {
                for (var key in response.data.pmd){
                    self.availablepmd.push(key);
                }
            }); 
            
            self.currentpmd.subscribe(function(){
                var pmdURI = 'http://localhost:8080/listdata/' + self.currentpmd() + '/' 
                self.ajax(pmdURI, 'GET').done(function(response){
                    self.renderedpmd(response.data);
                }); 
            });
            
            self.onExecute = function(){
                pmdexecuteURI = 'http://localhost:8080/amd/'
                //POST request to execute the current PMD
                self.ajax(pmdexecuteURI, 'POST', self.renderedpmd()).done(function(response){
                    //Update the shapefile list with the PMD data
                    shapefileview.updateShapefileList();
                    return response
                }).then(function(response){
                    console.log(response)
                    //Get the name of the new shapefile, i.e. what did we just process
                    var shp = self.renderedpmd()['input']['attribute']['uri']
                    var fullname = shp.split("/");
                    var basename = fullname[fullname.length - 1].split('.')[0]
                    //Update the selected shapefile and visualize it.
                    shapefileview.drawshapefile(basename).done(function() {alert('drawn')})
                    return response 
                }).done(function(response){
                    console.log(response);
                });
                                
                    
            }
            
            
        }
        
        var uploadpmd = new UploadPMDViewModel()
        
        Dropzone.options.pmdDropzone = { 
            init: function () {
                this.on("complete", function (file) {
                  if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                    uploadpmd.availablepmd.push(file.name)
                    this.removeFile(file);             
                  }
                });
            },
            
          url: "http://localhost:8080/upload/",
          dictDefaultMessage: "Drop a .pmd, .amd, or .wmd here...",
          paramName: "file", // The name that will be used to transfer the file
          maxFilesize: 20, // MB
          maxFiles: 1, 
          acceptedFiles: ".amd, .wmd, .pmd",
          createImageThumbnails: false,
            accept: function(file, done) {
            if (file.name == "justinbieber.jpg") {
              done("Naha, you don't.");
            }
            else { done(); }
          }
        };
        
        Dropzone.options.shpDropzone = { 
            init: function () {
                var uploaded = []
                this.on("complete", function (file) {
                  var basename = file.name.split('.')[0]
                  uploaded.push(basename);
                    
                  if (shapefileview.shapefiles.indexOf(basename) === -1){
                    shapefileview.shapefiles.push(basename);
                  }
                  this.removeFile(file);
                });
            },
            
          url: "http://localhost:8080/upload/",
          dictDefaultMessage: "Drop shp, shx, dbf or .zip here...",
          paramName: "file", // The name that will be used to transfer the file
          maxFilesize: 20, // MB
          maxFiles: 4, 
          acceptedFiles: ".shp, .shx, .dbf, .prj, .zip",
          createImageThumbnails: false,
            accept: function(file, done) {
            if (file.name == "justinbieber.jpg") {
              done("Naha, you don't.");
            }
            else { done(); }
          }
        };
      
//Knockout bindings - I have no idea if this is the canonical approach - I hacked it together
ko.bindingHandlers.stopBinding = {
    init: function() {
        return { controlsDescendantBindings: true };
    }
};
ko.virtualElements.allowedBindings.stopBinding = true;
        
ko.applyBindings(shapefileview, document.getElementById("shapefilelist"));
ko.applyBindings(shapefileview, document.getElementById("shpinfo"));
ko.applyBindings(shapefileview, document.getElementById("shpfields"));
ko.applyBindings(esdaHookup, document.getElementById("esda-form"));
ko.applyBindings(uploadpmd, document.getElementById("uploadpmd"));
ko.applyBindings(wvm, document.getElementById("weights"));
ko.applyBindings(new SpatAutoViewModel(), document.getElementById("spatialauto"));
        
        

        
    
        
</script>
    
</body>
</html>
