<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Login Options</h1>
        {% for message in get_flashed_messages() %}
            <p><b>Error</b>: {{ message }}</p>
        {% endfor %}
        {% if current_user.is_authenticated() %}
            <h2>Hi, {{ current_user.nickname }}!</h2>
            <p><a href="https://webpool.csf.asu.edu/pysalrest/user/logout">Logout</a></p>
        {% else %}
            <h2>Please login using a service below</h2>
	    <p><a href="https://webpool.csf.asu.edu/pysalrest/user/authorize/twitter"><img src="https://abs.twimg.com/a/1404172626/images/oauth_application.png"/></a>

            <p><a href="https://webpool.csf.asu.edu/pysalrest/user/authorize/twitter">Login with Twitter</a></p>
        {% endif %}
    </body>
</html>
